<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="user1" class="enity.User">
        <constructor-org index="0" value="chenheng1"/>
        <constructor-org index="1">
            <list>
                <value>唱歌</value>
                <value>跳舞</value>
                <value>篮球</value>
            </list>
        </constructor-org>
        <constructor-org index="2">
            <map>
                <entry key="dalian" value="大连"/>
                <entry key="beijing" value="北京"/>
                <entry key="shanghai" value="上海"/>
            </map>
        </constructor-org>
        <constructor-org index="3">
            <set>
                <value>张三</value>
                <value>李四</value>
                <value>王二</value>
            </set>
        </constructor-org>
    </bean>
</beans>