<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userService" class="com.service.UserService" />
    <bean id="classB" class="com.entity.B"></bean>
    <bean id="classC" class="com.entity.C"></bean>
    <bean id="userDao" class="com.dao.UserDaoImpl">
        <property name="id">
            <value>1</value>
        </property>
        <property name="name">
            <value>张三</value>
        </property>
    </bean>

</beans>